<div class="panel panel-default messagePanel">
    <h1 class="h4">メッセージ一覧</h2>
    <% @messages.each do |message| %>
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading"><%= message.name %></div>
            <div class="panel-body"><p><%= message.body %></p></div>
        </div>
    </div>
        <% end %>
</div>

<%= render 'form' %>